body {
    background-image: url("./images/moroccan-flower.jpg");
  }

  h1 {
    font-family: 'Caveat', cursive;
    font-size: 45px;
    position: relative;
  }

  p {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
  }

  img {
    width: "500";
    height: "300";
  }
  
  