/*Index/About Page*/
/* link styles */ 
a.nav-link:hover {
  color: black;
}

/* header styles */
.header {
  margin-bottom: 100px;  
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 90px;
}

/* nav styles */
.nav-link {
  color: black;
  color: #90a1a0;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;

}

.nav {
  background: white;
}

.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100%;
}

/* page styles */
.jumbotron {
  background-color: white;
  width:fit-content;
  position: relative;
  align-items: center;
  padding-left: 40%;
}

.navbar-brand {
  margin-bottom: 10px;
  width: 70px;
  max-height: 80px; 
  font-size: 30px;
  padding: 2px;
}

#logo {
  height: 10rem;
  padding-bottom: 90%;
}


#name-div{
  font-family: 'Cormorant Garamond', serif;
  margin-top: 20%;
  text-transform: capitalize;
  color:black;
}

#home-name {
  font-size: 3.7vw;
  font-style: 'Cormorant Garamond', serif;
}

.welcome-font {
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  position: relative;
  font-style: italic;
}

#home {
  word-wrap: break-word;
}

.home-font {
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}

#portrait-div{
  width:100vw;
  height:810px;
  margin:0;
  padding:0;  
}

#suzy {
 max-width:100%;
 height:auto;
 max-height:100%;
 border: solid 2px black; 
 width: 50%;
}

.aboutme {
  font-family:'Montserrat', sans-serif;
  font-size: 2.7vw;
  text-align: center;
}


.contact {
  padding-left: 100%;
  padding-right: 100%;
  position:relative;
}

.contactMe {
  font-family:  'Montserrat', sans-serif;
  font-size: 2.7vw;
  text-align: center;
}

.contact-div {
  text-align: center;
}

.container {
  max-width: 2000px;
}

#to-top {
  font-family: 'Montserrat', sans-serif;
  font-style: bold;
  color:black;
}

.social {
  font-size: 15px;
  text-align: left;
}


.work {
  font-size: 2.7vw;
  font-family:  'Montserrat', sans-serif;
  text-align: center;
}

.about-paragraphs {
  font-family: 'Montserrat', sans-serif;
}

.about {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  margin-bottom:100px; 
 

}

.navbar {
  display: flex;
  justify-content:flex-end;
  padding: 0;
  background: transparent;
}

/* social media icons footer */
.jumbotron {
  background-color: white;
  width:fit-content;
  position: relative;
  align-items: center;
  padding-left: 40%;
}

.social-icons {
  width: 22px;
  height: 22px;
  padding: 0px;
  margin: 4px 2px 4px 2px;
}

/* copyright footer */
#contact {
  position: relative;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}
    
#me {
  object-fit: cover;
  width: 75%;
  padding-left: 20%;
  position:relative;
}

    
#me2 {
  object-fit: cover;
  width: 75%;
  padding-left: 20%;
  position:relative;
}

#copyright {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2vh;
  margin-bottom: 5px;
}

#sgLogo {
  width: 80px;
  height: 65px;
  margin-left: -20px;
}

ul {
  font-family: 'Hind Guntur', sans-serif;
  font-size: 15px;
}

li {
  font-family: 'Hind Guntur', sans-serif;
  color: black;
  float: left;
  position: relative;
  overflow: hidden;
}

li::after {
  background-color: black;
  content: "";
  width: 0;
  height: 1px;
  left: 0;
  bottom: 0;
  transition: width 0.35s ease 0s;
  position: absolute;
}

li:hover::after {
  width: 100%;
}

#about {
  position: sticky;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}


  /*Portfolio*/

 .card-header {
  font-family: 'Cormorant Garamond', serif;
  background:white;
  color: black;
  text-align: center;
  font-size: 30px;
 }

 .card {
  border-radius: 5px;
  margin: 1rem;
  position: relative;
  width: 250px;
  box-shadow: 0 3px 6px rgb(238, 236, 237), 0 3px 6px #999;
  text-align: center;
}

.card-body{
  position: relative;
  font-size: 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
  
.main {
   max-width: 1000px;
   margin: auto;
}

.card-img-top{
  width: 220px;
}

  .a {
    font-family: 'Hind Guntur', sans-serif;
  }
  
  h3 {
    font-family:'Cormorant Garamond', serif;
    color: black;
    text-align: center;
    font-style: italic;
  }

  .row {
    margin: 8px -16px;
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: white;
    padding: 20px;
    font-family: 'Kumbh Sans', sans-serif;
  }
  
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  .row,
  .row > .column {
    padding: 8px;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    background-color: white;
    padding: 10px;
  }

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

 @include media-breakpoint-between(xs,sm){
  .btn {
      @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
  }
}
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  



